<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>    
    <add key="RutaBuckUp" value="C:\Archivos\GymCheck\BuckUp\"/>
    <add key="RutaFotos" value="C:\Archivos\GymCheck\Fotos\"/>
    <add key="RutaPdf" value="C:\Archivos\GymCheck\Pdf\"/>
    <add key="Servidor" value="DESKTOP-H8VLRCJ\SQLEXPRESS"/>
    <add key="Database" value="GymDBPrueba"/>
    <add key="User" value="sa"/>
    <add key="Password" value="genius"/>
    <add key="HoraReporteM" value="12"/>
    <add key="HoraReporteT" value="22"/>
  </appSettings>
</configuration>