<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>    
    <add key="RutaBuckUp" value="F:\Archivos\GymCheck\BuckUp\"/>
    <add key="RutaFotos" value="F:\Archivos\GymCheck\Fotos\"/>
    <add key="RutaPdf" value="F:\Archivos\GymCheck\Pdf\"/>
    <add key="Servidor" value="SAIKANO\SQLEXPRESS"/>
    <add key="Database" value="GymDB"/>
    <add key="User" value="sa"/>
    <add key="Password" value="2016"/>
    <add key="HoraReporteM" value="12"/>
    <add key="HoraReporteT" value="22"/>
  </appSettings>
</configuration>